<h1>High Five</h1>

<form>
    <h2>Number of Players: !PH!</h2>
    <h2>Max Card Value: Five</h2>
    <h2>Choose Your Player Name:
        <select>
            <option value="Player 1">Player 1</option>
            <option value="Player 2">Player 2</option>
            <option value="Player 3">Player 3</option>
            <option value="Player 4">Player 4</option>
            <option value="Player 5">Player 5</option>
        </select>
    </h2>
    <input class="startGame" type="submit" value="START GAME"/>
</form>